<% layout("listings/layouts/boilerplate") -%>
<body>
    <h3>all listing</h3>
    <form method="GET" action="/listings/new">
        <button>
            create new listing
        </button>
    </form>

    <ul>
        <% for(let listing of allListing){%>
        <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %></a></li>
        <%}%>
    </ul>

</body>