<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonder lust</title>
</head>
<body>
    <h3>all listing</h3>

    <ul>
        <% for(let listing of allListing){%>
        <li> <a href="/listings/ <%= listing._id %>"> <%= listing.title %></a></li>
        <%}%>
    </ul>


</body>
</html>