<% layout("listings/layouts/boilerplate") -%>

<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
    align-items: center;
  }
  .filter{
    font-size: 0.8re;
    text-align: center;
    margin-right: 2rem;
    opacity: 0.6;
  }
  .filter:hover{
    opacity: 1;
  }
  .tax-switch{
    border: 1px solid black ;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
  display: flex;
  align-items: center;
  }
  .taxonrent{
    display: none;
  }
</style>

<body>
    <form method="GET" action="/listings/new">
      <div id="filters">
        <div class="filter">
          <div><i class="fa-solid fa-arrow-trend-up"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-snowman"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-water"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>castel</p>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>castel</p>
        </div>
   

        
    <div class="tax-switch">
    <div class="form-check form-switch form-check-reverse">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">along-with-TAX</label>
    </div>
  </div>
      </div>
    </form>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    
    <% for(let listing of allListing){%>
      <a href="/listings/<%= listing._id %>">
        <div class="card col" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="image not found" style="height:20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b> <p><%= listing.title %></p></b>
                <p>&#8377; <%= listing.price %> / night  <i class="taxonrent">&NonBreakingSpace; &NonBreakingSpace; +18% GST</i></p>
              </p>
            </div>
          </div>
          </a>
        <%}%>
    </div>
    <script>
      let taxbtn=document.getElementById("flexSwitchCheckDefault");
         taxbtn.addEventListener("click",()=>{
          let taxinfo=document.getElementsByClassName("taxonrent");
          for(tax of taxinfo){
            if(tax.style.display != "inline"){
              tax.style.display = "inline";
            }else{
              tax.style.display = "none";
            }
          }
         });
    </script>
</body>