<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>
    <form method="POST" action="/listings">
        <h3>add your listing</h3>
        <input type="text" name="listing[title]" placeholder="title">
        <br><br>
        <textarea name="listing[description]" placeholder="description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="url link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="country">
        <br><br>
        <button>
            add
        </button>
    </form>
</body>
</html>