body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cointainer{
    flex: 1;
}
/*---------------------------------------nav---------------------------------------------*/
.navbar{
    height: 5rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.fa-house{
    font-size: 2rem;
    color: #FF385C;
}

.nav-link{
    color: #222222;
}

/*---------------------------------------footer---------------------------------------------*/

.f-info-link a{
    text-decoration: none;
}

.f-info-link a:hover{
    text-decoration: underline;
}

.f-info-link,
.f-info-icon,
.f-info-brand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.f-info-icon i{
    height:2rem ;
    color: rgb(87, 85, 85);
    margin:0.5rem 1rem 0rem 0rem;
    font-size: 1.4rem;
  
}
.f-info-icon i:hover{
    transition:0.3s;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    height: 8rem;
    background-color: rgb(236, 235, 235);
}

/*---------------------------------------image card---------------------------------------------*/

.card{
    border: none;
    padding: none;
    margin-bottom: 2rem;
}

.card-img-top{
    padding: none;
    border-radius:1rem;
    width: 100%;
    object-fit: cover;
}
.card:hover{
    padding: 0.1rem;
    }

.card-body{
    padding: none;
    padding: 0rem;
}

.card-text p {
    padding: none;
    font-weight:900;
}

/*---------------------------------------card hover---------------------------------------------*/

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}