<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-house"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">ALL LISTINGS</a>
          <a class="nav-link" href="/listings/new">ADD LISTING</a>
        </div>

        <div class="navbar-nav ms-auto">
          <% if(!currentuser) { %>
          <a class="nav-link" href="/singup">SIGN-UP</a>
          <a class="nav-link" href="/login">LOG-IN</a>
          <% } %>
          <% if(currentuser) { %>
          <a class="nav-link" href="/logout">LOG-OUT</a>
          <%}  %>
        </div>
      </div>
    </div>
  </nav>